/* PARENT section */
.blogHeader h2 {
    font-size: 4rem;
    text-align: left;
    margin-top: 20%;
}

.parentDiv {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 15%;
}


/* SIDEBAR Section */
.sideBar {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sideBarImage {
        width: 100%;
        box-shadow: 16px 0 $darkRed;
        margin-top: 13%;

    img {
        object-fit: contain;
        width: 100%;
        

    } 
}

.missionPost {
    background-color: $darkRed;
    text-align: left;
    padding: 0 4%;
    width: 80%;
    box-shadow: 16px 0px $darkRed;
    

    a {
        color: $orange;
        text-decoration: none;
        padding-bottom: 5%;
    }

    ul {
        margin-top: 0;
    }

    h3 {
        margin: 0;
        padding-top: 5%;
        text-align: left;
    }

    P {
        margin: 0;
    }

    li {
        font-size: 1.5rem;
        color: $red;
        line-height: 30px;
        
    }

    li span {
        color: $white;
    }
}

/* MENU Section */

.menuSection {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -17%;
    right: 0;
}

.menuImage {
        width: 100%;

    img {
        object-fit: contain;
        width: 100%;
        box-shadow: -16px 16px $orange;
    }
}

.menuText {
    width: 100%;
    border-left: 5px solid $orange;
    border-bottom: 5px solid $orange;
    padding: 5% 8%;
    text-align: left;

    h3 {
        text-align: left;
        margin-bottom: 0;
        line-height: 20px;
    }

    h4 {
        text-align: left;
        color: $orange;
        margin-top: 0;
        font-size: 1.5rem;
    }
}

/* COMMENTS Section */


.comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 6%;
    margin-top: 21%;

    h3 {
        margin: 7% 0 0 0;
        text-align: center;
        line-height: 30px;
    }
}

.commentBox {
    display: flex;
    flex-wrap: wrap;
    padding: 4% 0;
    justify-content: space-between;
    width: 60%;
    align-self: flex-end;
}

.commentImage {
    width: 20%;
    display: flex;
    align-items: center;

    img {
        object-fit: contain;
        width: 100%;
    }
}

.commentText {
    width: 77%;
    text-align: left;

    h4 {
        text-align: left;
        color: $orange;
        font-size: 1.7rem;
        margin: 0;
        line-height: 20px;
    }

    p {
        padding-right: 2%;
    }
}


/* THE FORM */
.formBox2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    box-sizing: border-box;
    align-self: end;

}

.nameBox2,
.emailBox2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    outline: none;
    border-bottom: 1px solid $orange;
    letter-spacing: 3px;
    margin: 0 10px 20px 10px;
    width: 50%;
    justify-content: space-between;
    

    

    input {
        padding: 0 5px;
        height: 40px;
        border: none;
        background: none;
        color: $white;
        font-weight: 100;
    }
}

.nameEmail2 {
    display: flex;
    
    label {
        font-size: 1.4rem;
    }
}

.messageBox2 {
    border: 1px solid $orange;
    letter-spacing: 3px;
    color: $white;

    
        textarea{
            
            resize: none;
            border: none;
            background: none;
            color: $white;
            font-weight: 100;
            width: 100%;
            padding: 5%;

            ::placeholder {
                color: $white;
            }
        }

}

.postComment {
    width: 100%;
    margin-top: 4%;
}
