/* THE FORM - first format */
.contactHeader h2 {
    font-size: 4rem;
    text-align: left;
    margin-top: 20%;
}

.iconSection {
    position: relative;
    /* padding-bottom: 10%; */
}

.formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4%;
    width: 55%;
    box-sizing: border-box;
    background: $darkRed;
    margin-right: 20px;
    position: absolute;
    top: 10%;
    right: -25%;
    transform: translate(-50%, -50%);
    box-shadow: 16px 16px $orange;
}

.nameBox,
.emailBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    outline: none;
    border-bottom: 2px solid $white;
    letter-spacing: 3px;
    margin: 0 10px 20px 10px;
    width: 50%;
    justify-content: space-between;
    

    

    input {
        padding: 0 5px;
        height: 40px;
        border: none;
        background: none;
        color: $white;
        font-weight: 100;
    }
}

.nameEmail {
    display: flex;
    
    label {
        font-size: 1.4rem;
    }
}

.messageBox {
    border: 2px solid $white;
    letter-spacing: 3px;
    color: $white;

    
        textarea{
            
            resize: none;
            border: none;
            background: none;
            color: $white;
            font-weight: 100;
            width: 100%;
            padding: 5%;

            ::placeholder {
                color: $white;
            }
        }

}

.submit {
    width: 100%;
    margin-top: 4%;
}

.parent {
    width: 22%;
    margin: 10% 0;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;

    p {
        margin: 0;
    }

    a {
        font-size: 1.1rem;
        margin-right: 10%;
    }
}
