.blurb {
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0;

    h3 {
        margin: 0;
    }
}

.box {
    width: calc(100% / 2 - 40px);
    margin: 0 10px;
}

.iconBox {
    background-color: $red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.headlineBox {
    display: flex;

    a {
        text-decoration: none;
        color: $white;
    }
}

a:hover,
a:focus {
        color: $orange;
        
    }

.beerDiv {
    height: 60vh;
    background-image: url(../assets/banner-image.jpg);
}

.gallery {
    background-color: $darkRed;
    padding: 5% 0;
}

.galleryBox {
    display: flex;

    img {
        margin: 12px;
        width: calc(100% / 3 - 24px);
        
    }
}

/* ORANGE BOX section */

.boxShadow {
    background-color: $darkRed;
    height: 700px;
}

.boxShadowDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* position: relative; */

}

.edisonBar,
.dayDrinking,
.planAhead,
.newLocations {
    width: 41%;

    img {
        object-fit: contain;
        width: 100%;
    }
}

.edisonBar {
    position: relative;
    
    img {
        position: absolute;
        top: -40px;
        box-shadow: 16px 16px $orange;
    }
}



.dayDrinking {
    position: relative;
    
    img {
        position: absolute;
        right: 0;
        box-shadow: -16px 16px $orange;
        top: 100px;
    }
}




.planAhead {
    text-align: left;
        p {
            padding-right: 5%;
            margin-top: 1%;
        }

        h3 {
            text-align: left;
            margin-bottom: 1%;
        }
}

.newLocations {
        position: relative;
        text-align: left;
        margin-top: 50px;
        p {
            padding-left: 5%;
            margin-top: 1%;
        }

        h3 {
            text-align: right;
            margin-bottom: 1%;
        }

        button {
            position: absolute;
            right: 0;

        }
}

.party {
    margin-top: 13%;
    margin-bottom: 10%;
    text-align: center;

    h3 {
        color: $orange;
    }
}

/* EVENTS section */

.events {
    display: flex;
    flex-wrap: wrap;
    padding: 8% 0;
    justify-content: space-between;

}

.womanDrinking {
    width: 22%;
    display: flex;
    align-items: center;
    
    img {
        object-fit: contain;
        width: 100%;
        box-shadow: -16px 16px $orange;
        
    }
}

.eventsText {
    width: 70%;
    

    h3 {
        margin: 0;
        text-align: left;
        color: $orange;
    }

    p {
        margin: 0;
        margin-bottom: 4%;
    }

  
}

