*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup {
    background-color: $black;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border: 1px solid $white;
    display: none;
    z-index: 90;

    h2 {
        font-family: $mainFont;
        text-align: center;
        padding: 10%;        
    }

    p {
        font-family: $baseFont;
        text-align: center;
        margin-bottom: 4%;

    }

    a {
        display: block;
        width: 150px;
        position: relative;
        margin: 0 auto;
        text-decoration: none;
        text-align: center;
        background-color: $red;
        font-family: $baseFont;
        font-size: 1.8rem;
        line-height: 30px;
        padding: 6px 28px;
        border: none;
        letter-spacing: 1.9px;
        text-transform: capitalize;
        text-decoration: none;
        color: $white;

        a:hover,
        a:focus {
            color: $white;
	        transition: 0.4s ease-in;
            }
    }
}