/* Import color schematics here, then fonts */
$white: #FFFFFF;
$red: #BF2603;
$orange: #FF8327;
$black: #111010;
$darkRed: #220303;



/* Import Fonts */
$mainFont: "Tulpen One", cursive;
$baseFont: "Chathura", sans-serif;

/* Import Scss sheet here */
@import "normalize";
@import "typography";
@import "nav";
@import "homePage";
@import "contactPage";
@import "blogPage";
@import "popupstyles";
@import "media";


/* INDEX Cover Images */
.homeHeader {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    position: relative;
}

.wine {
    position: absolute;
    right: 0px;
    top: 300px;
    width: 700px;
    height: 500px;
}

.wine img {
    max-height: 100%;
    max-width: 100%;
}

/* Background Images for adjascent pages */
.blogHeader {
    background-image: url(../assets/blog-header-1.jpg);
    background-size: cover;
    background-repeat: none;
    height: 85vh;
}

.contactHeader {
    background-image: url(../assets/contact-header-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
}
