/* Import color schematics here, then fonts */
/* Import Fonts */
/* Import Scss sheet here */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* @import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Chathura:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chathura&display=swap'); */
html {
  margin: 0;
  padding: 0;
  font-size: 125%;
}

body {
  font-family: "Chathura", sans-serif;
  color: #FFFFFF;
  background-color: #111010;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

.h1h2 {
  /* margin: 0 auto; 
  width: 50%;
  text-align: center; */
  z-index: 10;
  position: relative;
}

h1 {
  font-family: "Tulpen One", cursive;
  font-size: 6.8rem;
  font-weight: 500;
  color: #FF8327;
  text-align: center;
  letter-spacing: 2.4px;
  padding-top: 100px;
  margin-bottom: 0;
}

h2 {
  font-family: "Chathura", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  line-height: 0px;
  letter-spacing: 2.6px;
  margin-top: 0;
}

h3,
h4 {
  font-family: "Chathura", sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  text-align: center;
  line-height: 58px;
  letter-spacing: 2.2px;
}

/* h4 {
    font-family: baseFont;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    line-height: 94.7px;
    letter-spacing:2.6px;
} */
p, a {
  font-family: "Chathura", sans-serif;
  font-size: 1.8rem;
  line-height: 30px;
  letter-spacing: 1.9px;
}

button {
  font-family: "Chathura", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1.9px;
  background-color: #BF2603;
  color: #FFFFFF;
  margin: 0;
  padding: 6px 28px;
  border: none;
}
button:hover {
  background-color: #FFFFFF;
  color: #BF2603;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer {
  background-color: rgb(44, 44, 44);
  text-align: center;
  margin: 0;
  padding: 0.1%;
  color: #FFFFFF;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 20px 0;
}

nav ul li {
  margin: 1px 10px;
}

nav ul li a {
  font-size: 21px;
  color: #FFFFFF;
  padding: 10px 15px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #FF8327;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.logo {
  font-family: "Tulpen One", cursive;
  font-size: 25px;
  margin-top: -5px;
}

.logo:hover,
.logo:focus {
  color: #FFFFFF;
}

.blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10% 0;
}
.blurb h3 {
  margin: 0;
}

.box {
  width: calc(50% - 40px);
  margin: 0 10px;
}

.iconBox {
  background-color: #BF2603;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}

.headlineBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headlineBox a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover,
a:focus {
  color: #FF8327;
}

.beerDiv {
  height: 60vh;
  background-image: url(../assets/banner-image.jpg);
}

.gallery {
  background-color: #220303;
  padding: 5% 0;
}

.galleryBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.galleryBox img {
  margin: 12px;
  width: calc(33.3333333333% - 24px);
}

/* ORANGE BOX section */
.boxShadow {
  background-color: #220303;
  height: 700px;
}

.boxShadowDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* position: relative; */
}

.edisonBar,
.dayDrinking,
.planAhead,
.newLocations {
  width: 41%;
}
.edisonBar img,
.dayDrinking img,
.planAhead img,
.newLocations img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.edisonBar {
  position: relative;
}
.edisonBar img {
  position: absolute;
  top: -40px;
  -webkit-box-shadow: 16px 16px #FF8327;
          box-shadow: 16px 16px #FF8327;
}

.dayDrinking {
  position: relative;
}
.dayDrinking img {
  position: absolute;
  right: 0;
  -webkit-box-shadow: -16px 16px #FF8327;
          box-shadow: -16px 16px #FF8327;
  top: 100px;
}

.planAhead {
  text-align: left;
}
.planAhead p {
  padding-right: 5%;
  margin-top: 1%;
}
.planAhead h3 {
  text-align: left;
  margin-bottom: 1%;
}

.newLocations {
  position: relative;
  text-align: left;
  margin-top: 50px;
}
.newLocations p {
  padding-left: 5%;
  margin-top: 1%;
}
.newLocations h3 {
  text-align: right;
  margin-bottom: 1%;
}
.newLocations button {
  position: absolute;
  right: 0;
}

.party {
  margin-top: 13%;
  margin-bottom: 10%;
  text-align: center;
}
.party h3 {
  color: #FF8327;
}

/* EVENTS section */
.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.womanDrinking {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.womanDrinking img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -webkit-box-shadow: -16px 16px #FF8327;
          box-shadow: -16px 16px #FF8327;
}

.eventsText {
  width: 70%;
}
.eventsText h3 {
  margin: 0;
  text-align: left;
  color: #FF8327;
}
.eventsText p {
  margin: 0;
  margin-bottom: 4%;
}

/* THE FORM - first format */
.contactHeader h2 {
  font-size: 4rem;
  text-align: left;
  margin-top: 20%;
}

.iconSection {
  position: relative;
}

.formBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  width: 55%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #220303;
  margin-right: 5%;
  position: absolute;
  top: 10%;
  right: -25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 16px 16px #FF8327;
          box-shadow: 16px 16px #FF8327;
}

.nameBox,
.emailBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  border-bottom: 2px solid #FFFFFF;
  letter-spacing: 3px;
  margin: 0 10px 20px 10px;
  width: 48%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nameBox input,
.emailBox input {
  padding: 0 5px;
  height: 40px;
  /* width: 48%; */
  border: none;
  background: none;
  color: #FFFFFF;
  font-weight: 100;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nameEmail label {
  font-size: 1.4rem;
}

.messageBox {
  border: 2px solid #FFFFFF;
  letter-spacing: 3px;
  color: #FFFFFF;
}
.messageBox textarea {
  resize: none;
  border: none;
  background: none;
  color: #FFFFFF;
  font-weight: 100;
  width: 100%;
  padding: 5%;
}
.messageBox textarea ::-webkit-input-placeholder {
  color: #FFFFFF;
}
.messageBox textarea ::-moz-placeholder {
  color: #FFFFFF;
}
.messageBox textarea :-ms-input-placeholder {
  color: #FFFFFF;
}
.messageBox textarea ::-ms-input-placeholder {
  color: #FFFFFF;
}
.messageBox textarea ::placeholder {
  color: #FFFFFF;
}

.submit {
  width: 100%;
  margin-top: 4%;
}

.parent {
  width: 22%;
  margin: 10% 0;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10%;
}
.icons p {
  margin: 0;
}
.icons a {
  font-size: 1.1rem;
  margin-right: 10%;
}

/* PARENT section */
.blogHeader h2 {
  font-size: 4rem;
  text-align: left;
  margin-top: 20%;
}

.parentDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 15%;
}

/* SIDEBAR Section */
.sideBar {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sideBarImage {
  width: 100%;
  -webkit-box-shadow: 16px 0 #220303;
          box-shadow: 16px 0 #220303;
  margin-top: 13%;
}
.sideBarImage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.missionPost {
  background-color: #220303;
  text-align: left;
  padding: 0 4%;
  width: 80%;
  -webkit-box-shadow: 16px 0px #220303;
          box-shadow: 16px 0px #220303;
}
.missionPost a {
  color: #FF8327;
  text-decoration: none;
  padding-bottom: 5%;
}
.missionPost ul {
  margin-top: 0;
}
.missionPost h3 {
  margin: 0;
  padding-top: 5%;
  text-align: left;
}
.missionPost P {
  margin: 0;
}
.missionPost li {
  font-size: 1.5rem;
  color: #BF2603;
  line-height: 30px;
}
.missionPost li span {
  color: #FFFFFF;
}

/* MENU Section */
.menuSection {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -17%;
  right: 0;
}

.menuImage {
  width: 100%;
}
.menuImage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -webkit-box-shadow: -16px 16px #FF8327;
          box-shadow: -16px 16px #FF8327;
}

.menuText {
  width: 100%;
  border-left: 5px solid #FF8327;
  border-bottom: 5px solid #FF8327;
  padding: 5% 8%;
  text-align: left;
}
.menuText h3 {
  text-align: left;
  margin-bottom: 0;
  line-height: 20px;
}
.menuText h4 {
  text-align: left;
  color: #FF8327;
  margin-top: 0;
  font-size: 1.5rem;
}

/* COMMENTS Section */
.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 6%;
  margin-top: 21%;
}
.comments h3 {
  margin: 7% 0 0 0;
  text-align: center;
  line-height: 30px;
}

.commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.commentImage {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.commentImage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.commentText {
  width: 77%;
  text-align: left;
}
.commentText h4 {
  text-align: left;
  color: #FF8327;
  font-size: 1.7rem;
  margin: 0;
  line-height: 20px;
}
.commentText p {
  padding-right: 2%;
}

/* THE FORM */
.formBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: end;
      align-self: end;
}

.nameBox2,
.emailBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  border-bottom: 1px solid #FF8327;
  letter-spacing: 3px;
  margin: 0 10px 20px 10px;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nameBox2 input,
.emailBox2 input {
  padding: 0 5px;
  height: 40px;
  border: none;
  background: none;
  color: #FFFFFF;
  font-weight: 100;
}

.nameEmail2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nameEmail2 label {
  font-size: 1.4rem;
}

.messageBox2 {
  border: 1px solid #FF8327;
  letter-spacing: 3px;
  color: #FFFFFF;
}
.messageBox2 textarea {
  resize: none;
  border: none;
  background: none;
  color: #FFFFFF;
  font-weight: 100;
  width: 100%;
  padding: 5%;
}
.messageBox2 textarea ::-webkit-input-placeholder {
  color: #FFFFFF;
}
.messageBox2 textarea ::-moz-placeholder {
  color: #FFFFFF;
}
.messageBox2 textarea :-ms-input-placeholder {
  color: #FFFFFF;
}
.messageBox2 textarea ::-ms-input-placeholder {
  color: #FFFFFF;
}
.messageBox2 textarea ::placeholder {
  color: #FFFFFF;
}

.postComment {
  width: 100%;
  margin-top: 4%;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup {
  background-color: #111010;
  width: 450px;
  padding: 30px 40px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 1px solid #FFFFFF;
  display: none;
  z-index: 90;
}
.popup h2 {
  font-family: "Tulpen One", cursive;
  text-align: center;
  padding: 10%;
}
.popup p {
  font-family: "Chathura", sans-serif;
  text-align: center;
  margin-bottom: 4%;
}
.popup a {
  display: block;
  width: 150px;
  position: relative;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  background-color: #BF2603;
  font-family: "Chathura", sans-serif;
  font-size: 1.8rem;
  line-height: 30px;
  padding: 6px 28px;
  border: none;
  letter-spacing: 1.9px;
  text-transform: capitalize;
  text-decoration: none;
  color: #FFFFFF;
}
.popup a a:hover,
.popup a a:focus {
  color: #FFFFFF;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

/* THREE breakpoints minimum */
/* 1300px */
@media (max-width: 1300px) {
  .comments {
    margin-top: 38%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }

  .commentBox {
    width: 100%;
    padding-left: 5%;
  }

  .commentText {
    padding-right: 6%;
  }

  .formBox textArea {
    width: 80%;
  }

  .formBox2 {
    width: 100%;
  }
}
/* 1000px */
@media (max-width: 1000px) {
  .wine {
    display: none;
  }

  .newLocations {
    margin-top: 0;
  }

  .planAhead {
    height: 300px;
  }

  .comments {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60%;
  }

  .formBox2 {
    width: 100%;
  }

  .messageBox,
.submit {
    width: 85%;
  }

  .nameBox,
.emailBox {
    width: 38%;
  }
}
/*  900px */
@media (max-width: 900px) {
  .blurb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .box {
    width: 100%;
    padding: 0 10%;
  }

  .boxShadow {
    height: auto;
  }

  .boxShadowDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boxShadowDiv img, .boxShadowDiv button {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .edisonBar,
.planAhead,
.dayDrinking,
.newLocations {
    width: 100%;
    margin: 8% 10%;
    text-align: center;
    height: auto;
  }
  .edisonBar p, .edisonBar h3,
.planAhead p,
.planAhead h3,
.dayDrinking p,
.dayDrinking h3,
.newLocations p,
.newLocations h3 {
    text-align: center;
    padding: 2% 5% 1% 5%;
    margin: 0;
  }

  .edisonBar,
.dayDrinking {
    width: 80%;
  }
  .edisonBar img,
.dayDrinking img {
    width: 80%;
    /* Images will not center!!! I cannot identify what is pushing them to the right. */
  }

  .parentDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5%;
  }

  .sideBar,
.sideBarImage,
.missionPost {
    width: 100%;
  }

  /* .missionPost {
      width: 100%;
  } */
  .menuSection {
    width: 100%;
    position: static;
  }

  .menuImage {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 11px solid #FF8327;
  }
  .menuImage img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .menuText {
    border: 5px solid #FF8327;
  }

  .comments {
    margin-top: 2%;
  }

  /* Contact */
  .iconSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .parent {
    width: 80%;
    margin-top: 65%;
  }

  .formBox {
    top: 20%;
    left: 50%;
    width: 100%;
  }
}
/* 500px */
/* NAVIGATION */
@media (max-width: 500px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .logo {
    color: #FF8327;
  }

  .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .submit,
.messageBox,
.emailBox,
.nameBox {
    width: 95%;
  }

  .iconSection {
    margin-top: 20%;
  }

  .parent {
    padding-top: 50%;
    margin-top: 80%;
  }

  /* HOME */
  h1 {
    padding-top: 0;
  }

  .beerDiv {
    display: none;
  }

  .womanDrinking {
    display: none;
  }

  .events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
  }
  .events h3 {
    text-align: center;
  }

  .galleryBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galleryBox img {
    width: 100%;
  }

  .formBox2 {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .nameEmail2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nameBox2,
.emailBox2 {
    width: 100%;
  }
}
/* INDEX Cover Images */
.homeHeader {
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
}

.wine {
  position: absolute;
  right: 0px;
  top: 300px;
  width: 700px;
  height: 500px;
}

.wine img {
  max-height: 100%;
  max-width: 100%;
}

/* Background Images for adjascent pages */
.blogHeader {
  background-image: url(../assets/blog-header-1.jpg);
  background-size: cover;
  background-repeat: none;
  height: 85vh;
}

.contactHeader {
  background-image: url(../assets/contact-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}